.pageContainer {
  width: 80%;
  margin: auto;
}
.tableContainer {
  width: 100%;
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
tr,
td {
  padding: 5px 15px;
  border-bottom: 1px solid grey;
  height: 10px;
  text-align: center;
}
.tableHead {
  font-weight: 700;
}

button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  opacity: 0.8;
  transition: 0.3s;
  margin: 1px;
}

button:hover{
  opacity: 1;
  cursor:pointer
}
